*{
margin: 0;
padding: 0;
}
hr{
    margin-left: 15px;
}
.menu{
    display: flex;
    flex-direction: column;

}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: 56px;
    cursor: pointer;
}
body{
    background-color:  #1e1e1e;
    color: white;
}

p{
    margin-top: 10%;
    font-size: 30px ;
}

p:hover{
    color:#3066BE;
}

.Header{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 610px;
}
 .header{
    height: 100%;
 }
.title{
    font-size: 50px;
    color:#3066BE;
}

hr{
    height:100%;
    color: white;
    border: 2px solid white;
}

.dashboard{
    display: flex;
}
table, td, th {
    border: 1px solid #3066BE;
  }
  h2{
    font-size: 40px;
    color: #3066BE;
  }