table {
    margin-left: 10%;
    margin-top: 10%;
    width: 100%;
    border-collapse: collapse;
    width: 450px;
    height: 80px;
  }
  td{
    padding-left: 5%;
    padding-right: 5%;
    width: fit-content;
  }