.title{
    font-size:50px;
    font-weight: bold;
    color:#3066BE;
    margin: auto;
    margin-bottom: 15px;
}
.skill{
    width: 70px;
    height: 70px;
    margin-right: 4%;
    filter: grayscale(100%);
}
.skill1,.skill2{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}
.skill:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
  }
.skill-section{
    margin-bottom: 70px;
}
@media screen and (min-width: 360px) and (max-width:480px) {
  .skill{width:50px;
  height: 50px;}
  .skill:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
  }
  
}