*{
  margin: 0;
  padding: 0;

}
body{
  background-color: #1E1E1E;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
.fast{
  width:50%;
  text-align: center;
}
.text{
  width:fit-content;
  height: 350px;
  text-align: center;
}
/* Project CSS*/
.project-container{
  width: 100%;;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projects{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color:#3d4146;
  border-radius: 25px;
  margin-top: 15px;
  padding: 15px;
}
p{
  line-height: 1.5;
}
.project-image{
  width:100%;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 15px;
}
.project-title{
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.project-desc{
  font-size: 20px;
}
/* ProjectSlider.css */
.project-slider {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;

}

.slider-container {
  display: flex;
  transition: transform 0.3s ease;
  
}

.slide {
  width: 90%;
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 2em;
  color: white;
}

.slider-button.left {
  left: -2px;
}

.slider-button.right {
  right: -2px;
}



/* end of project css*/
#contact{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items:center ;
  text-align: center;
}

.contact-container{
  display: flex;
  justify-content:center ;
  align-items:center ;
}
.title{
  font-size: 50px;
  color:#3066BE;
  font-weight: bold;
  margin-bottom: 20px;
}

.inside-contact-container{
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-title{
  margin: auto;
text-align: center;
font-size: 30px;
color: white;
margin-bottom: 15px;
font-weight: bold;
}
.message-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.contact-inp{
  color: white;
  background-color: transparent;
  border: 2px solid #3066BE;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
  padding: 10px;
}
.message-box{
margin-bottom: 15px;
  resize: none;
  width: 400px;
  height: 110px;
}
.contact-button{
  width: 170px;
  height: 40px;
  background-color: #3066BE;
  color: white;
  font-size: 20px;
  border: #3066BE;
  border-radius:30px ;
  cursor: pointer;
}

.in-touch-message{
  text-align: left;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  width: 90%;
}
.svgs{
  width:25px;
  height:25px;
  margin-right: 15px;
}
.info-container{
  display: flex;
  flex-direction: column;
}
.info{
  display: flex;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;

}
.info a{
  text-decoration: none;
  color: white;
}
 .b{
  border: #3066BE;
} 

footer{
  background-color: #3066BE;
  display: flex;
  flex-direction:row;
  padding: 15px;
}
.footer-container{
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.footer-titles{
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}


.information-ul{
  list-style: none;
  font-size: 15px;
}

.information-ul li a {
  font-size: 18px;
  text-decoration: none;
  color: white;

}
.information-li{
  margin-bottom: 8px;
  
}
.social-container{
  margin-top: 20px;
  display: flex;
  cursor: pointer;
}
.s1{
  width: 40px;
  height: 40px;
}
.foot-svg{
  width: 35px;
  height: 35px;
}
.big-div-info{
  text-align: center;
}