@media screen and (min-width: 360px) and (max-width:480px) {
  .header{
    justify-content: center;
    margin-right: 5px;
}
  .header p{
    margin: 10px;
    font-size: 20px;
  }
  .TitleP p:nth-child(2) {
    margin-left: 80px;
}
.TitleP {
  align-items: start;
  justify-content: start;
  margin-left: 0px;
  font-size: 20px;
}

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section  p:nth-child(3) {
    font-size: 12x;
  }
}
@media screen and (min-width: 481px) and (max-width:1024px){
  .header p {
    font-size: 25px;
  }
  .PenBackround p {
    margin-left: 90px;
  }
  .container{
    height: 100%;
  }
  
  .TitleP p:nth-child(2) {
    margin-left: 200px;
}
    section{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .Bluediv {
      width: 200px;
      height: 200px;
    }
    .image{
      width: 200px;
      height: 200px;
      margin-top: 15px;
    }
    section  p:nth-child(2) {
    font-size: 40px;
  }
  section  p:nth-child(3) {
    font-size: 30px;
  }
}