*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #1E1E1E;
}
/* Project CSS*/
.project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color:#222020;
  border-radius: 25px;
  margin-top: 15px;
  padding: 15px;
}
.project-title{
  font-size: 25px;
  margin-bottom: 15px;
}
.project-image{
  margin-bottom: 15px;
}
.project-desc{
  font-size: 20px;
}
/* ProjectSlider.css */
.project-slider {
  position: relative;
 width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 2em;
  color: white;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}


/* end of project css*/
.contact{
  margin-top: 10%;
  width: 100%;
  margin-bottom: 5%;
}
.contact-container{
  display: flex;
  flex-direction: row ;
  text-align: center;
  padding: 15px;

}
.title{
  font-size: 50px;
  color:#3066BE;
  font-weight: bold;
  margin-bottom: 20px;
}

.inside-contact-container{
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-title{
font-size: 30px;
color: white;
margin-bottom: 15px;
font-weight: bold;
}
.message-form{
  display: flex;
  flex-direction: column;
}
.contact-inp{
  background-color: transparent;
  border: 2px solid #3066BE;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;

}
.message-box{
  resize: none;
  width: 400px;
  height: 110px;
}
.contact-button{
  width: 170px;
  height: 40px;
  background-color: #3066BE;
  color: white;
  font-size: 20px;
  border: #3066BE;
  border-radius:30px ;
  cursor: pointer;
}

.in-touch-message{
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
.svgs{
  width:25px;
  height:25px;
  margin-right: 15px;
}
.info-container{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}
.info{
  display: flex;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;

}
.info a{
  text-decoration: none;
  color: white;
}
 .b{
  border: #3066BE;
} 

footer{
  background-color: #3066BE;
  display: flex;
  flex-direction:row;
}
.footer-container{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.div1{
  display: flex;
  width: 66.667%  ;
}
.f1{
  width: 100%;
}
.footer-titles{
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

.info1{
  margin-left: 35%;
}
.information-ul{
  list-style: none;
  font-size: 15px;
}

.information-ul li a {
  text-decoration: none;
  color: white;

}
.information-li{
  margin-bottom: 8px;
  
}

.social-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 25px;
}
.s1{
  width: 40px;
  height: 40px;
}
.foot-svg{
  width: 35px;
  height: 35px;
}